form {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .form-group {
    width: 100%;
    margin: 0 15px 0;

    label {
      margin: 0;
    }
  }
}

.result {
  .title {
    padding: 2rem 0;
  }
}
