<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <span>Joke searcher</span>
    </h1>
  </div>

  <div class="container">
    <div class="card-body">
      <form (ngSubmit)="findJoke()" [formGroup]="findJokeForm" novalidate>
        <div class="form-group">
          <label class="d-block">
            <input type="text" class="form-control" formControlName="joke" autocomplete="username"
                   [placeholder]="'Find joke'">
            <span hidden translate>Username</span>
          </label>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="findJokeForm.invalid">
          <span translate>Submit</span>
        </button>
      </form>

      <div class="result">
        <div class="title text-center">
          <h1>
            <span>Chucknorris found</span>
          </h1>
        </div>
        <div class="body-result">
          <ng-template ngFor let-joke [ngForOf]="jokes" let-i="index">

            <div class="title">#{{i}}</div>

            <div class="body">
              <div class="icon">
                <img src="{{joke.icon_url}}" alt="">
              </div>
              <div class="description">
                {{joke.value}}
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
